@use "mixin" ;

/* ----product----- */

.product-title {
    text-align: center;
    font-size: 6rem;
    padding-top: 130px;
    padding-bottom: 100px;
    font-family: "Crimson Text", serif;
    font-weight: 400;

    @include mixin.sp {
        font-size: 4.4rem;
        padding-top: 100px;
        padding-bottom: 50px;
        margin-block: 0;
    }
}

.product-list {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 90px;

    @include mixin.sp {
        grid-template-columns: repeat(1,1fr);
    }

    .item-name {
        font-size: 3rem;
        font-family: "Sawarabi Mincho" , serif;
        font-weight: bold;
        padding-bottom: 20px;

         @include mixin.sp {
            font-size: 2.8rem;
            padding-bottom: 10px;
         }
    }

    .product-text {
        padding-block: 50px;
        line-height: 30px;

        @include mixin.sp {
            font-size: 1rem;
            padding-block: 30px;
            width: 90%;
            margin: 0 auto;
            line-height: 24px;
        }
    }

    a {
        color: #8B3A2E;
        display: inline-block;
        margin-bottom: 120px;

         @include mixin.sp {
            margin-bottom: 40px;
         }
    }

    img {
        width: 80%;
    }
}

.product1,.product2 {
    border-bottom: solid 4px;

    @include mixin.sp {
        border-bottom: none;
    }
}

