/* ----共通---- */
@charset "UTF-8";
// 他のSCSSを読み込む
@use "mixin" ;

@import 'about';
@import 'item';  
@import 'store'; 
@import 'journal'; 
@import 'faq'; 
@import 'contact';


html, body {
  font-size: clamp(12px, 1.2vw, 18px);
  margin: 0;
  padding: 0;
  height: 100%;
  background-color:#f9f4eb;
  color: #111111;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

// メイン以外のwrapper

.wrapper-other {
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #111111;
  &:hover {
    opacity: 0.8;
  }
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.content-title{
  font-size: 6rem;
  margin-bottom: 20px;
  font-family: "Crimson Text", serif;
  font-weight: 400;
}

// メイン以外のページのヘッダー共通

.header-about {
    width: 100%;
    height: 100vh;
    background-image: url("../img/aboutmv.png");
    background-size: cover;
    background-position: center;

    @include mixin.sp {
        background-image: none;
        height: 0;
    }
}

.header-inner{
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: transparent; 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 

    &.scrolled {
       background-color: rgba(39, 39, 39, 0.7); // お好みの色に
        a {
        color: #f2e8d6;
        }

        @include mixin.sp {
            background: none !important;
        }
    }
}

.header-list-other {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-family: "Sawarabi Mincho" , serif;
}





/* ----header---- */

header {
    position: relative;
    width: 100%;

    .header-inner-other {
        position: fixed;
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
        background-color: transparent; 
        transition: background-color 0.3s ease, box-shadow 0.3s ease; 

        &.scrolled {
            background-color: rgba(39, 39, 39, 0.7);  /* スクロール後の背景色 */

            a{
            color:#f2e8d6;
        }

        }
          @include mixin.sp {
            background: none !important;
        }
    }

    .header-list {
        display: flex;
        font-size: 1.2rem;
        font-family: "Sawarabi Mincho" , serif;

        @include mixin.sp {
            text-align: center;
            background: none !important;
        }

        li a{
            color:#f2e8d6;
            margin-right: 50px;
        }
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

    .header-btn {
        color: #f2e8d6;
        background-color: #8C382B;
        padding-inline: 20px;
        padding-block: 10px;
        font-size: 1.2rem;
        font-family: "Sawarabi Mincho" , serif;
        border-radius: 2px;
    }

    .header-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .mainvisual {
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        @include mixin.sp {
            height: calc(var(--vh, 1vh) * 100);
        }
    }





// ハンバーガー

.hamburger {
    position: fixed;
    top: 16px;
    right: 16px;
    z-index: 110; /* メニューより前面 */
    width: 52px;
    height: 52px;
    display: none; /* PCでは非表示 */
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;

    @include mixin.sp {
        display: block;
    }

    span {
        position: absolute;
        left: 4px;
        right: 4px;
        height: 3px;
        background: #111111;
        transition: transform .25s ease, opacity .25s ease, top .25s ease;
    
    &:nth-child(1){ top: 14px; }
    &:nth-child(2){ top: 26px; }
    &:nth-child(3){ top: 38px; }

    }
}

@include mixin.sp {
    #navi {
        position: fixed;
        inset: 0;               
        width: 100%;
        height: 100dvh;          
        padding: 80px 24px 24px; /* ヘッダー分の余白 */
        margin: 0;               
        box-sizing: border-box;
        display: flex;
        flex-direction: column; 
        background: rgba(41, 41, 41, 0.85);
        transform: translateX(100%);   
        transition: transform .3s ease;
        z-index: 100;
    }

    body.nav-open { 
        overflow: hidden; 
    }

    body.nav-open #navi {
        transform: translateX(0);
    }

    #navi .header-list li a,#navi .header-list-other li a {
        color: #f2e8d6;
        font-size: 1.8rem;
        text-align: center;
        margin-right: 0;
    }

    .header-list,.header-list-other {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        padding: 0;
    }


    .nav-open .hamburger span {
        background: #f2e8d6 ;

        &:nth-child(1) {
            transform: translateY(12px) rotate(-45deg);
        }

        &:nth-child(2) {
            opacity: 0;
        }

        &:nth-child(3) {
            transform: translateY(-12px) rotate(45deg);
        }
    }

}




/* ----about---- */

.about {
  width: 100%;
  text-align: center;
  margin-top: 200px;
    @include mixin.sp {
        margin-top: 80px;
    }

    h2 img{
        width: 200px;
    }

    .about-subtitle {
        font-size: 1.7rem;
        margin-bottom: 30px;
        font-family: "Sawarabi Mincho", serif;
    }

    .about-content {
        line-height: 2.4;
        font-size: 1rem;
    }

    .viewmore {
        display: inline-block;
        margin-top: 50px;
        border-bottom: solid;
        color: #8C382B;
    }
}





/* ----item---- */

.item {
  margin-top: 280px;

    @include mixin.sp {
        margin-top: 140px;
    }

    .content-title {
        font-size: 6rem;
        font-family: "Crimson Text", serif;
        font-weight: 400;
        padding-block: 0;
        text-align: left;

        @include mixin.sp {
            text-align: center;
            font-size: 4rem;
        }
    }

    .item-content {
        line-height: 2.3;
        font-size: 1.2rem;

        span {
            background-color: #cadeef;
            padding: 5px;
        }

        @include mixin.sp {
            display: none;
        }
    }

    .slick-area {
        margin-top: 60px;
        @include mixin.sp{
            margin-top: 40px;
        }

        li {
            text-align: center;

            .item-title {
                font-size: 2rem;
                padding-top: 20px;
                padding-bottom: 5px;
                font-family: "Crimson Text", serif;
                font-weight: 400;
                font-style: normal;

                @include mixin.sp {
                    font-size: 3rem;
                }
            }

            .item-sub-title {
                @include mixin.sp {
                    font-size: 1rem;
                }
            }
        }
        .slick-slide{
            margin-inline: 10px;
        }
    }

    .slick-area img {
        display: block;
    }
}


.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1.5s ease;

  &.active {
    opacity: 1;
    transform: translate(0);
  }
}






/* ----info---- */

.info {
  margin-top: 340px;
     @include mixin.sp {
        margin-top: 200px;
    }

    .section-info {
        display: flex;
        gap: 30px;

        @include mixin.sp {
            flex-direction: column;
        }

        li {
            position: relative;
            width: auto;
            height: auto;
            overflow: hidden;
            /* 画像はみ出さないように,ズーム時にはみ出す部分を隠す */

            @include mixin.sp {
                height: 200px;
            }

            p {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #f2e8d6;
                font-size: 2.5rem;
                font-family: "Sawarabi Mincho" , serif;
            }

            img {
                width: 100%;
                height: 100%;
                /* 100%に指定しないと枠に収まらない */
                transition: transform 0.7s ease;
                /* easeは徐々に加速減速 */
                object-fit: cover;
                /* 比率を保ってトリミングを表示してくれる */
            }

            &:hover img{
                transform: scale(1.1);
                opacity: 0.8;   
            } 
        }
    }
}





/* ----sns---- */

.footer-sns {
    display: flex;
    justify-content: center;
    margin-top: 300px;

    @include mixin.sp {
        margin-top: 160px;
    }

    li {
        width: 30px;
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }
}




/* ----footer---- */

footer {
    border-top: solid;
    margin-top: 100px;
    font-family: "Sawarabi Mincho" , serif;

    .footer-inner {
        display: flex;
        justify-content: space-between;

        .footer-left {
            img {
                width: 200px;
                margin-top: 50px;

                @include mixin.sp {
                    width: 100px;
                    margin-top: 40px;
                }
            }

            .address {
                @include mixin.sp {
                    font-size: 0.6rem;
                }
            }
        }

        

        .footer-right {
            font-size: 1.4rem;
            font-weight: bold;
            line-height: 2.5;
            margin-top: 80px;
            /* border: solid; */

            @include mixin.sp{
                font-size: 1rem;
                margin-top: 60px;
            }
            

            .footer-list {
                padding: 0;
            }

            a {
                color: #111111;
            }
        }    
    }

    p {
        text-align: center;
        padding-top: 100px;
        padding-bottom: 30px;
    }
}


.back-home-btn {
    position: fixed;
    bottom: 22px;
    right: 22px;
    width: 46px;
    height: 46px;
    background: #B05C37; 
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    text-decoration: none;
    z-index: 200;
    box-shadow: 0 4px 10px rgba(48, 48, 48, 0.019);
    transition: all .3s ease;
    padding: 40px;
    
    @include mixin.sp {
        padding: 30px;
       
    }

    &:hover {
        transform: translateY(-3px);
        // ちょっと浮く
        opacity: 0.7;
    }
}




